/*  your css code here. If applicable */
h1{
	text-align:center;
}

label{
   display:block;
}
input{
	width:100%;
}
button{
	margin-top:10px;
	background-color:blue;
	color:white;
	padding:8px;
	border-radius:5px;
	border:none;
}
table{
	width:100%;
	border-collapse:collapse;
}
th,td{
	padding:10px 0;
	text-align:left;
}
.delete-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

